.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;;
    position: sticky;
    top: 50%;
}

.prodcuts-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}



.cart-container{
    background-color: red;
}


@media screen and (max-width:1100px) {
    .prodcuts-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}